<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">-->
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->
<app-header></app-header>

<div class="login-body h-full login-image" >
    <div class="login-wrapper">
        <div class="login-panel">
            <a href="#">
            <img [src]="'assets/pages/logo-cluv-academy.png'"   class="image-fluid mt-8" alt="diamond-layout"/>
            </a>

            <div class="login-form p-fluid">

                <h4 style="padding-bottom: 10%">Iniciar sesión en su Cuenta</h4>
                <form [formGroup]="loginForm" >
                    <div class="p-inputgroup form-group p-field">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input id="username" type="text" formControlName="username" pInputText
                               placeholder="Nombre Usuario"/>
                    </div>
                    <div class="p-inputgroup form-group p-field">
                        <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
                        <input type="password" pInputText placeholder="Clave" formControlName="password">
                    </div>

                    <button pButton pRipple type="submit" label="Iniciar Sesión" class="p-button p-field p-button-info"  (click)="loginByAuth()"></button>
                    <a href="#"  type="button" label="¿Olvidó su contraseña? Click Aquí" class="p-field underline">¿Olvidó su contraseña? Click Aquí</a>

                </form>
                <p-divider align="center">
                    <span class="p-tag bg-orange-500 text-base">&copy;2022 Cluv-Academy</span>
                </p-divider>
                <nav class="login-card-footer-nav">
                    <a href="#">Condiciones de Uso. </a>
                    <a href="#">Políticas de Privacidad</a>
                </nav>
            </div>

            <p>Algún Problema? <a href="#">Click aquí</a> y permítanos ayudarle.</p>
        </div>
        <div class="">
        </div>
    </div>
</div>

<!-- inicio seccion generica -->
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-blockUI [blocked]="blockingui">
    <p-progressSpinner styleClass="w-4rem h-4rem bluegray-600" strokeWidth="8" animationDuration=".5s">
    </p-progressSpinner>
</p-blockUI>
<!-- fin seccion generica -->

