<form [formGroup]="form">
    <div class="card">
        <div class="grid grid-nogutter">
            <div class="col-12 px-4 mt-4 md:mt-6 md:px-6"><span class="text-900 block font-bold text-xl">Pago</span>
            </div>
            <div class="col-12 lg:col-6 h-full px-4 py-4 md:px-6">
                <ul class="flex list-none flex-wrap p-0 mb-6">
                    <li class="flex align-items-center text-primary mr-2">Productos <i
                        class="pi pi-chevron-right text-500 text-xs ml-2"></i></li>
                    <li class="flex align-items-center text-500 mr-2">Detalle<i
                        class="pi pi-chevron-right text-500 text-xs ml-2"></i></li>
                    <li class="flex align-items-center text-500 mr-2">Pago</li>
                </ul>
                <div class="grid formgrid">
                    <div class="col-12 field mb-4">
                        <span class="text-900 text-2xl block font-medium mb-5">Información de Factura</span>
                        <input id="email" formControlName="correo" placeholder="Email" type="text"
                               class="p-inputtext w-full mb-2">
                    </div>
                    <div class="col-12 field mb-4">
                        <input id="name" formControlName="nombre" placeholder="Cliente" type="text"
                               class="p-inputtext w-full">
                    </div>
                    <div class="col-12 field mb-4">
                        <input id="dni" formControlName="dni" placeholder="Dni" type="text" class="p-inputtext w-full">
                    </div>
                    <div class="col-12 field mb-4">
                        <input id="address" formControlName="direccion" placeholder="Dirección 1" type="text"
                               class="p-inputtext w-full">
                    </div>

                    <div class="col-12 field mb-4">
                        <input id="telf" formControlName="telefono" placeholder="Teléfono" type="text"
                               class="p-inputtext w-full">
                    </div>

                    <div class="col-12 field mb-4">
                        <hr>
                        <p>Comprobante</p>
                        <input id="fileInput" type="file"
                               accept=".jpg, .png"
                               (change)="onFileSelected($event)"
                               placeholder="Comprobante"/>
                        <hr>
                        <img
                            [src]="'data:image/png;base64,'+this.f.comprobante.value" alt="product"
                            class="w-full">
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-6 px-4 py-4 md:px-6">
                <div class="pb-3 surface-border"><span class="text-900 font-medium text-xl">Tu Producto</span></div>
                <div class="flex flex-column lg:flex-row flex-wrap lg:align-items-center py-2 mt-3 surface-border"><img
                    [src]="'data:image/png;base64,'+clase.avatarClase" alt="product"
                    class="w-8rem h-8rem flex-shrink-0 mb-3">
                    <div class="flex-auto lg:ml-3">
                        <div class="flex align-items-center justify-content-between mb-3"><span
                            class="text-900 font-bold">{{clase.nombreClase}}</span><span
                            class="text-900 font-bold">{{clase.costoClase}} USD$</span></div>
                        <div class="text-600 text-sm mb-3">{{clase.zonaHorariaClase}} | {{clase.descripcionClase}}</div>
                        <div class="flex flex-auto justify-content-between align-items-center">
                            <div class="p-inputgroup mb-3">
                                <input type="text" pinputtext=""
                                       formControlName="descuento"
                                       placeholder="Código Descuento"
                                       class="p-inputtext p-component p-element w-full ng-untouched ng-pristine ng-valid">
                                <button type="button" pButton pRipple [label]="aplicadoDescuento ? 'Reset' : 'Aplicar'"

                                        [icon]="aplicadoDescuento ? 'pi pi-history': 'pi pi-refresh'"
                                        [disabled]="clase.descuentoClase == 0"
                                        (click)="aplicadoDescuento ? aplicarSinDesceunto(): aplicarDescuento()"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-2 mt-3">
                    <div class="flex justify-content-between align-items-center mb-3"><span
                        class="text-900 font-medium">Subtotal</span><span
                        class="text-900">{{clase.costoClase}} USD$</span></div>
                    <div class="flex justify-content-between align-items-center mb-3"><span
                        class="text-900 font-medium">Recargo</span><span
                        class="text-primary font-bold">{{clase.costoClase * 12 / 100}} USD$</span></div>
                    <div class="flex justify-content-between align-items-center mb-3"><span
                        class="text-900 font-medium">Descuento</span><span
                        class="text-primary font-bold">{{aplicadoDescuento ? clase.descuentoClase : 0}} USD$</span>
                    </div>
                    <div class="flex justify-content-between align-items-center mb-3"><span
                        class="text-900 font-bold">Total</span><span
                        class="text-900 font-medium text-xl">{{total}}
                        USD$</span>
                    </div>
                </div>
                <div
                    class="col-12 flex flex-column lg:flex-row justify-content-center align-items-center lg:justify-content-end my-6">
                    <button pButton pRipple label="Regresar a Listado" icon="pi pi-fw pi-arrow-left"
                            (click)="irAListadoProductos()"
                            class="p-element p-ripple p-button-help p-button-outlined mt-3 lg:mt-0 w-full lg:w-auto flex-order-2 lg:flex-order-1 lg:mr-4 p-button p-component">
                    </button>
                    <button pButton pRipple label="Pagar" icon="pi pi-fw pi-check"
                            [disabled]="this.form.invalid"
                            (click)="pagarProducto()"
                            class="p-element p-ripple p-button-primary w-full lg:w-auto flex-order-1 lg:flex-order-2 p-button p-component">
                    </button>
                </div>


                <div class="surface-ground ">
                    <div class="grid">
                        <div class="col-12">
                            <span class="text-900 text-2xl block font-medium mb-1">Canales de Pago | email: cluv593@gmail.com</span>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="h-full surface-card shadow-2 p-3 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Banco Pichincha</span>
                                        <div class="text-900 font-medium text-l">Cta. 2201210790</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                                         style="width:2.5rem;height:2.5rem">
                                        <img
                                            src="./assets/img/banco-pichincha.png" alt="product"
                                            class="w-4rem h-4rem flex-shrink-0 mb-3">
                                    </div>
                                </div>
                                <div>
                                    <span class="text-green-500 font-medium">Juan Bastidas</span>
                                </div>
                                <span class="text-500">1723303630</span>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="h-full surface-card shadow-2 p-3 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Banco Pacífico</span>
                                        <div class="text-900 font-medium text-l">Cta. 1058084843</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                                         style="width:2.5rem;height:2.5rem">
                                        <img
                                            src="./assets/img/banco-pacifico.png" alt="product"
                                            class="w-4rem h-4rem flex-shrink-0 mb-3">
                                    </div>
                                </div>
                                <div>
                                    <span class="text-green-500 font-medium">Juan Alejandro Bastidas Moreano</span>
                                </div>
                                <span class="text-500">1723303630</span>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="h-full surface-card shadow-2 p-3 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Banco Produbanco</span>
                                        <div class="text-900 font-medium text-l">Cta. 18060113851</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                                         style="width:2.5rem;height:2.5rem">
                                        <img
                                            src="./assets/img/banco-produbanco.png" alt="product"
                                            class="w-4rem h-4rem flex-shrink-0 mb-3">
                                    </div>
                                </div>
                                <div>
                                    <span class="text-green-500 font-medium">Juan Alejandro Bastidas Moreano</span>
                                </div>
                                <span class="text-500">1723303630</span>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="h-full surface-card shadow-2 p-3 border-round">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Banco Guayaquil</span>
                                        <div class="text-900 font-medium text-l">Cta. 34143612</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                                         style="width:2.5rem;height:2.5rem">
                                        <img
                                            src="./assets/img/banco-guayaquil.png" alt="product"
                                            class="w-4rem h-4rem flex-shrink-0 mb-3">
                                    </div>
                                </div>
                                <div>
                                    <span class="text-green-500 font-medium">Juan Alejandro Bastidas Moreano</span>
                                </div>
                                <span class="text-500">1723303630</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</form>
<p-blockUI [blocked]="blockingui">
    <p-progressSpinner styleClass="w-4rem h-4rem bluegray-600" strokeWidth="8"
                       animationDuration=".5s"></p-progressSpinner>
</p-blockUI>
