/* logged */
.header-container {
    padding: 16px;
    box-sizing: border-box;
    background: #fff;
}

.header-container .icon-burger-container {
    display: none;
}

.activity-user-container-closed {
    display: none !important;
}

.userOptions-container span {
    cursor: pointer !important;
}

.activity-user-container-opened {
    position: fixed;
    right: 0;
    height: 100vh;
    width: 60vw;
    background: #fff;
    z-index: 999999999999999999999999999999999999999999999;
    padding: 16px;
    box-sizing: border-box;
    animation: openActivityPanel 1s forwards;
}

@keyframes openActivityPanel {
    from {
        top: -100vh;
    }
    to {
        top: 0;
    }
}

/* no logged */
.header-container-logged {
    /*-webkit-box-shadow: 0px 4px 20px 0px rgba(182, 182, 182, 0.61);
    -moz-box-shadow: 0px 4px 20px 0px rgba(182, 182, 182, 0.61);
    box-shadow: 0px 4px 20px 0px rgba(182, 182, 182, 0.61);*/
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 999999999999999999999999999999999999999999999;
}

.nav-links-container {
    list-style: none;
}

.nav-links-container li {
    cursor: pointer;
    padding: calc(16px / 4) calc(16px / 2);
    border-radius: 4px;
}

.nav-links-container li:hover {
    background: #1e6baf;
    color: #fff;
}

.side-panel-closed {
    display: none;
}

.side-panel-opened {
    position: fixed;
    top: 0;
    background: #fff;
    padding: 16px;
    box-sizing: border-box;
    animation: openSidePanel 1.2s forwards;
    height: 100vh;
    width: 100vw;
    z-index: 999999999999999999999999999999999999999999999;
}

.side-panel-close span {
    position: absolute;
    left: 16px;
    top: 16px;
}

.side-panel-opened ul {
    list-style: none;
    margin-top: 16px;
}

.side-panel-opened ul li {
    padding: 16px;
    color: #b6b6b6;
    cursor: pointer;
}

.side-panel-opened ul li:hover {
    color: #001a30;
}

.header-container-notFloat {
    position: unset !important;
}

@keyframes openSidePanel {
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}

/* responsive */

@media (max-width: 700px) {
    .header-container-logged .nav-links-container {
        display: none !important;
    }

    .header-container-logged .icon-burger-container {
        display: inline-block;
        order: 100;
    }
}

@media (max-width: 500px) {
    .header-container .icon-burger-container {
        display: inline-block;
    }

    .header-container .userOptions-container {
        display: none !important;
    }
}

html {
    font-size: 0.6rem !important;
}
