<div class="text-900 font-medium text-4xl mb-4">Nuestras Clases</div>

<div class="grid -mt-3 -ml-3 -mr-3">
    <div class="col-12 md:col-6 lg:col-3 ng-star-inserted" *ngFor="let item of listClases">
        <div class="p-1">
            <div class="shadow-2 p-3 surface-card border-round">
                <div class="relative mb-3"><span class="surface-card text-900 shadow-2 px-3 py-2 absolute"
                                                 style="border-radius: 1.5rem; left: 1rem; top: 1rem;">{{item.nombre}}</span>
                    <img class="w-full" [src]="'data:image/png;base64,'+item.avatarClase"></div>
                <div class="flex justify-content-between align-items-center mb-3"><span
                    class="text-600 font-medium text-lg">Tutor: {{item.nombreTutor}}</span><span><i
                    class="pi pi-star-fill text-yellow-500 mr-1"></i><span
                    class="font-medium">{{item.valoracion}}</span></span>
                </div>
                <p class="mt-0 mb-3 text-700 line-height-3">{{item.descripcion}}</p>
                <div class="flex justify-content-between align-content-center">
                    <span class="text-primary text-xl font-medium">$ {{item.costo}}</span>
                    <button pButton pRipple (click)="selectProduct(item)"
                            class="btn btn-primary "><i
                        class="pi pi-play mr-3 text-base"></i><span class="text-base">Iniciar</span><span
                        class="p-ink"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-blockUI [blocked]="blockingui">
    <p-progressSpinner styleClass="w-4rem h-4rem bluegray-600" strokeWidth="8"  animationDuration=".5s"></p-progressSpinner>
</p-blockUI>


