<div class="text-900 font-medium text-4xl mb-4">Nuestras Clases</div>


<div class="grid">
    <div class="col-12 md:col-6 lg:col-2" *ngFor="let item of listClases">
        <p-card [header]="item.nombre" [subheader]="item.descripcion">
            <ng-template pTemplate="header">
                <div class="h-17rem">
                <img alt="Clase" class="img-fluid" width="100%" height="100%" [src]="'data:image/png;base64,'+item.avatarClase"/>
                </div>
            </ng-template>
            <ng-template pTemplate="content">

                <div class="text-900 font-medium text-lg mb-2">Tutor: {{item.nombreTutor}}</div>
                <div class="text-600">{{item.sobreMiTutor}}</div>

                <div class="flex justify-content-between mb-2 mt-4 text-2xl">
                    <div>
                        <span class="block text-900 mb-3">$ {{item.costo}}</span>
                    </div>
                    <div class="flex align-items-center justify-content-center border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-star-fill text-yellow-500 mr-1"></i>{{item.valoracion}}
                    </div>
                </div>


            </ng-template>
            <ng-template pTemplate="footer">
                <div class="flex justify-content-end align-content-center">
                    <button pButton pRipple (click)="selectProduct(item)"
                            class="btn btn-primary "><i
                        class="pi pi-play mr-3 text-base"></i><span class="text-base">Iniciar</span><span
                        class="p-ink"></span></button>
                </div>
            </ng-template>
        </p-card>
    </div>
</div>

<p-blockUI [blocked]="blockingui">
    <p-progressSpinner styleClass="w-4rem h-4rem bluegray-600" strokeWidth="8"
                       animationDuration=".5s"></p-progressSpinner>
</p-blockUI>


