<form [formGroup]="formEvidencia">
    <div class="card">
        <div class="grid mb-7">
            <div class="col-12 lg:col-7">
                <div class="flex">
                    <div class="pl-3 w-12 flex"><img class="w-full border-2 border-transparent border-round"
                                                     [src]="'data:image/png;base64,'+f.avatarClase.value">
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4 py-3 lg:pl-6 text-3xl">
                <div class="flex align-items-center text-xl font-medium text-900 mb-4">
                    {{f.nombre.value}}
                </div>
                <div class="flex align-items-center justify-content-between mb-5"><span
                    class="text-900 font-medium text-3xl block">$ {{f.costo.value}}</span>

                    <div class="flex align-items-center">
                        <span class="mr-3">
                        <p-rating formControlName="valoracion"
                                  iconOnClass="pi pi-star"
                                  iconOffClass="pi pi-star-fill"
                                  [stars]="5"
                                  [cancel]="false"></p-rating>
                        </span>
                        <span class="text-sm">Valoraciones</span>
                    </div>
                </div>
                <div class="font-bold text-900 mb-3">{{f.descripcion.value}}</div>
                <div class="font-bold text-900 mb-3">Tutor: {{f.nombreTutor.value}}</div>
                <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between">

                    <div class="flex align-items-center flex-1 mt-3 sm:mt-0 ml-0 sm:ml-5">
                        <button pbutton="" pripple="" label="Añadir"
                                class="p-element p-ripple flex-1 mr-5 p-button p-component p-button-warning"><span
                            class="p-button-label" (click)="irAPago()">Añadir</span><span
                            class="p-ink"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <p-tabView class="p-element">
            <p-tabPanel header="Detalles Producto" class="p-element">
                <div role="tabpanel" class="p-tabview-panel ng-star-inserted" id="p-tabpanel-12" aria-hidden="false"
                     aria-labelledby="p-tabpanel-12-label">
                    <div class="text-900 font-bold text-3xl mb-4 mt-2">Descripción</div>
                    <p class="line-height-3 text-600 p-0 mx-0 mt-0 mb-4">{{clase.descripcionClase}}</p>
                    <div class="grid">
                        <div class="col-12 lg:col-4"><span
                            class="text-900 block font-medium mb-3 font-bold">Horario</span>
                            <ul class="py-0 pl-3 m-0 text-600 mb-3">
                                <li class="mb-2"><i class="pi pi-clock mr-3"></i>{{clase.duracionClase}} hrs.</li>
                                <li class="mb-2"><i
                                    class="pi pi-calendar-minus mr-3"></i>{{clase.fechaInicioClase | date:'short'}}</li>
                                <li class="mb-2"><i
                                    class="pi pi-calendar-times mr-3"></i>{{clase.fechaFinClase | date:'short'}}</li>
                                <li class="mb-2"><i class="pi pi-users mr-3"></i>Aforo: {{clase.aforoClase}}</li>
                                <li class="mb-2"><i class="pi pi-ticket mr-3"></i>Asistencia: {{clase.asistenciaClase}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 lg:col-8"><span
                            class="text-900 block mb-3 font-bold">Materiales &amp; Recursos</span>
                            <ul class="py-0 pl-3 m-0 text-600 mb-3">
                                <li class="flex align-items-center white-space-nowrap w-10rem block mr-2 mb-3"><i
                                    class="pi pi-sun mr-2 text-900"></i><span>{{clase.materialesClase}}</span></li>
                                <li class="flex align-items-center white-space-nowrap w-10rem block mb-3 mr-2"><i
                                    class="pi pi-sliders-h mr-2 text-900"></i><span>{{clase.recursosClase}}</span></li>
                            </ul>
                        </div>
                    </div><!----></div><!----></p-tabPanel><!---->
            <p-tabPanel header="Reseñas" class="p-element">
                <div role="tabpanel" class="p-tabview-panel ng-star-inserted" id="p-tabpanel-13"
                     aria-hidden="true" aria-labelledby="p-tabpanel-13-label">
                    <div class="text-900 font-bold text-3xl mb-4 mt-2">Nuestros estudiantes mencionan</div>
                    <ul class="list-none p-0 m-0" *ngFor="let item of clase.reseniasCollectionDto">
                        <li class="pb-5 border-bottom-1 surface-border">
                            <div class="flex align-items-center">
                                <span class="mr-3">
                                    <p-rating
                                              iconOnClass="pi pi-star text-orange-400"
                                              iconOffClass="pi pi-star-fill text-bluegray-300"
                                              [ngModel]="item.valorResenias"
                                              [ngModelOptions]="{standalone: true}"
                                              [stars]="5"
                                              [cancel]="false"></p-rating>
                                </span>
                                <span class="text-sm">Valor Reseña</span>
                            </div>
                            <!--<div class="text-900 font-bold text-xl my-3">Absolute Perfection!</div>-->
                            <p class="mx-0 mt-0 mb-3 text-600 line-height-3">{{item.descripcionResenias}}</p><span class="font-medium">{{item.nombreEstudiante}}, 📚</span></li>

                    </ul><!----></div><!---->
            </p-tabPanel><!---->
            <p-tabPanel header="Clase - Silabo" class="p-element">
                <div role="tabpanel" class="p-tabview-panel ng-star-inserted" id="p-tabpanel-14"
                     aria-hidden="true" aria-labelledby="p-tabpanel-14-label">
                    <div class="text-900 font-bold text-3xl mb-4 mt-2">Cluv</div>
                    <p class="line-height-3 text-600 p-0 mx-0 mt-0 mb-4">{{materia.idClubDto.nombreClub}}
                    <p class="line-height-3 text-600 p-0 mx-0 mt-0 mb-4">{{materia.idClubDto.introduccionClub}}
                    <p class="line-height-3 text-600 p-0 mx-0 mt-0 mb-4">{{materia.idClubDto.descripcionClub}}
                    <div class="text-900 font-bold text-3xl mb-4 mt-2">Materia</div>
                    <p class="line-height-3 text-600 p-0 mx-0 mt-0 mb-4">{{clase.idMateriaDto.nombreMateria}}
                    <p class="line-height-3 text-600 p-0 mx-0 mt-0 mb-4">{{clase.idMateriaDto.descripcionMateria}}
                    <p class="line-height-3 text-600 p-0 mx-0 mt-0 mb-4">{{clase.idTipoClaseDto.descripcionTipoClase}}
                    </p>
                    <div class="text-900 block font-bold mb-3 font-bold">Contenido</div>
                    <div class="grid">
                        <div class="col-12 md:col-6" *ngFor="let item of materia.silaboCollectionDto"><span class="text-900 block font-bold mb-3 font-bold"></span>
                            <ul class="py-0 pl-3 m-0 text-600 mb-3" >
                                <li class="mb-2">{{item.temaSilabo}}</li>
                            </ul>
                        </div>

                    </div><!----></div><!----></p-tabPanel>

        </p-tabView>
    </div>
</form>
