<body class="landing-body">
<div class="landing-wrapper">
    <div id="home" class="landing-header">
        <div class="landing-topbar">
            <a href="#/cluv/landing" class="logo">
                <img src="assets/pages/logo-cluv-academy.png" alt="logo"/>
                <h1>CLUV ACADEMY</h1>
            </a>

            <ul class="landing-menu">
                <li>
                    <a onclick="closeMenu()" id="landing-menu-close" tabindex="0">
                        <i class="pi pi-times"></i>
                    </a>
                </li>
                <li class="landing-menu-item">
                    <a href="#home">HOME</a>
                </li>
                <li class="landing-menu-item">
                    <a href="#nosotros">NOSOTROS</a>
                </li>
                <li class="landing-menu-item">
                    <a href="#" (click)="dialogTerminos=true">TERMINOS Y CONDICIONES</a>
                </li>
                <li class="landing-menu-item">
                    <a href="#clases">CLASES</a>
                </li>
                <li class="landing-menu-item">
                    <a href="#sensei">CONVIERTETE EN PROFESOR</a>
                </li>
                <li class="landing-menu-item">
                    <a href="#cluvs">CLUVs</a>
                </li>
                <li class="contact landing-menu-item">
                    <a href="#contact">CONTACTANOS</a>
                </li>
            </ul>
            <a onclick="openMenu()" id="landing-menu-button" tabindex="0">
                <i class="pi pi-bars"></i>
            </a>
            <ul class="contact-menu">
                <li>
                    <a routerLink="/authentication/login">LOGIN</a>
                </li>
                <li>
                    <a (click)="goToRegisterStudent()">EMPIEZA AHORA</a>
                </li>
                <li>
                    <a href="#"><i class="pi pi-github"></i></a>
                </li>
                <li>
                    <a href="#"><i class="pi pi-twitter"></i></a>
                </li>
            </ul>
        </div>
        <div class="landing-header-content grid justify-content-between mb-6 md:mb-8 mt-5">
            <div class="header-text">
                <h1>Cluv Academy
                    Estudia con Nosotros</h1>
                <p>Conoce como aprender y afinar tus habilidades y conocimientos con nuestros Senseis y temas
                    específicos.
                </p>
                <button class="landing-btn"><span>Empieza Ahora</span></button>
            </div>
            <div _ngcontent-qqg-c41="" class="col-12 text-center md:text-right lg:col-6">
                <p-carousel [value]="listClubs" styleClass="custom-carousel"
                            [numVisible]="2"
                            [numScroll]="1"
                            [circular]="true"
                            [autoplayInterval]="4000"
                            [responsiveOptions]="responsiveOptions">
                    <ng-template pTemplate="header">
                        <h5></h5>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="card w-full h-full">
                            <div class="h-20rem">
                                <img [src]="'data:image/png;base64,'+item.avatar"
                                     [alt]="item.nombre"
                                     class="product-image"
                                     width="100%"
                                     height="auto"
                                />
                            </div>
                            <div class="">
                                <h4 class="mb-1">{{item.nombres}} - {{item.nombreReconocimiento}}</h4>
                                <span [class]="'product-badge'">{{item.descripcion}}</span>
                                <hr>
                                <p-button styleClass="p-button-rounded p-button-warning"><span>Empezar</span></p-button>
                            </div>
                        </div>
                    </ng-template>
                </p-carousel>
            </div>
        </div>
    </div>

    <div id="nosotros" class="landing-features">
        <div class="feature-row">
            <div class="feature-text">
                <h2>Cluv Academy es la primera escuela online ecuatoriana</h2>
                <span>Cras suscipit mauris nisl. Donec molestie maximus tellus, eu congue elit interdum vitae.
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                        Aenean finibus laoreet lorem, non pretium elit. Nunc vel commodo velit, eu venenatis
                        dolor.</span>
            </div>

            <div _ngcontent-qqg-c41="" class="col-12 md:col-6 flex-order-1">
                <img _ngcontent-qqg-c41=""
                     animateenter="moveinright"
                     src="assets/img/planestudios.png"
                     alt="Theming"
                     class="w-full fadeinright animation-duration-1000"></div>
        </div>
    </div>

    <div id="sensei" class="landing-meetdiamond">
        <div class="section-title">
            <h1>Senseis</h1>
            <span class="mb-2">Conoce a nuestros Senseis</span>
            <p-button styleClass="p-button-rounded p-button-warning"><span>Inicia tu Camino</span></p-button>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-3" *ngFor="let item of listSenseis">
                <div class="card widget-feature-box">
                    <img [src]="'data:image/png;base64,'+item.avatar" alt="device" width="100%"/>
                    <h5>{{item.nombres}}</h5>
                    <span>{{item.sobreMi}}</span>
                </div>
            </div>
        </div>
    </div>


    <div id="cluvs" class="landing-features" *ngFor="let item of listClubs; let i = index">
        <div [class]="i % 2 == 0 ? 'feature-row':'fature-row row-reverse'">
            <div class="feature-text">
                <h2>{{item.nombres}}</h2>
                <p-button class="btn btn-outline-info">Empieza Ahora</p-button>
                <p>{{item.introduccion}}</p>
            </div>

            <div _ngcontent-qqg-c41="" class="col-12 md:col-6 flex-order-1">
                <img _ngcontent-qqg-c41=""
                     animateenter="moveinright"
                     [src]="'data:image/png;base64,'+item.avatar"
                     width="100%"
                     alt="Theming"
                     class="w-full fadeinright animation-duration-1000"></div>
        </div>
    </div>


    <div id="clases" class="landing-pricing">
        <div class="section-title">
            <h1>Descubre que te Ofrece Cluv Academy</h1>
            <span>Los mejores precios para nuestros clientes</span>
            <span>Precios grupales e individuales</span>
        </div>
        <div class="p-grid">
            <div class="p-col-12 p-md-6 p-lg-3" *ngFor="let item of listClases">
                <div class="widget-pricing-card h-full">
                    <h2>{{item.nombre}}</h2>
                    <img _ngcontent-qqg-c41=""
                         animateenter="moveinright"
                         [src]="'data:image/png;base64,'+item.avatarClase"
                         width="100%"
                         alt="Theming"
                         class="w-full fadeinright animation-duration-1000">
                    <span>{{item.descripcion}}</span>
                    <h3>$ {{item.costo}}</h3>
                    <ul>
                        <li>{{item.estado}}</li>
                        <li>Aforo: {{item.aforo}} / {{item.reservas}}</li>
                        <li>Valoración: {{item.valoracion}}</li>
                        <div class="flex mt-4">
                            <p-avatar [image]="'data:image/png;base64,'+item.avatarTutor"
                                      shape="circle"
                                      class="p-element">
                            </p-avatar>
                            <div class="ml-2">
                                <div class="text-xs font-bold text-white mb-1">{{item.nombreTutor}}</div>
                                <div class="text-xs flex align-items-center text-white"><i
                                    class="pi pi-user mr-1 text-xs"></i><span>{{item.sobreMiTutor}}</span></div>
                            </div>
                        </div>
                    </ul>
                    <p-button class="btn btn-outline-info"
                              [disabled]="item.aforo==item.reservas">AÑADIR
                    </p-button>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="landing-contact">
        <div class="section-title">
            <h1>Estas listo para el Cluv ? Únete</h1>
            <span>Solamente enviando un email</span>
        </div>
        <div class="contact-wrapper">
            <div class="contact-left">
                <div class="card-contact">
                    <h3>Únete al CluvAcademy</h3>
                    <input placeholder="Nombres"/>
                    <input placeholder="Dirección de Correo"/>
                    <textarea rows="8" placeholder="Déjanos tu Mensaje" autoResize="false"></textarea>
                    <button class="landing-btn"><span>Enviar</span></button>
                </div>
            </div>
            <div class="contact-right">
                <div class="contact-text">
                    <h1>No dude en contactarnos y nos comunicaremos
                        con usted
                        lo antes posible.</h1>
                    <div class="contact-info">
                        <div class="info">
                            <h2>Horarios</h2>
                            <p>Lunes - Domingo <br/>
                                7am - 18pm <br/>
                                Fines de Semana <br/>
                                7am - 18pm</p>
                        </div>
                        <div class="info">
                            <h2>Dirección</h2>
                            <p>Pais. Calle Principal, Calle Secundaria.<br/></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="landing-footer">
            <a href="#" class="logo">
                <img src="assets/pages/logo-cluv-academy.png" alt="logo"/>
                <h1>Cluv Academy</h1>
            </a>
            <div class="social">
                <a href="#"><i class="pi pi-github"></i></a>
                <a href="#"><i class="pi pi-twitter"></i></a>
            </div>
        </div>

        <div class="landing-mask"></div>
    </div>

</div>

<p-dialog header="Términos y Condiciones de Cluv Academy" [(visible)]="dialogTerminos" [modal]="true"
          [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div class="logo flex justify-content-center mt-2">
        <img src="assets/pages/logo-cluv-academy.png" width="10%" alt="logo"/>
        <h1>CLUV ACADEMY</h1>
    </div>
    <p-divider></p-divider>
    <p class="m-0">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
    </p>
</p-dialog>


</body>
