.stream__video {
    width: 100%;
    height: auto;
    margin-top: 1.6rem;
    //background-color: #000;
    //box-shadow: -4rem 6rem 6rem rgba(0, 0, 0, .3);
    aspect-ratio: 16/9;
    //background-size: 60% 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.video {
    width: 100%;
    max-width: 126.8rem;
    height: auto;
    margin: 0 auto;
    //background-color: var(--bgc-black);
    aspect-ratio: 16/9;
}








