<!--
<p-dropdown [options]="listTipoServicio"
            id="ftxt-idTipoServicioDto"
            [filter]="true"
            appendTo="body"
            formControlName="idTipoServicioDto"
            filterBy="nombreTipo"
            [showClear]="true"
            placeholder="Seleccione un Tipo">
    <ng-template pTemplate="selectedItem">
        <div class="country-item country-item-value" *ngIf="f.idTipoServicioDto.value.nombreTipo">
            <div>{{f.idTipoServicioDto.value.idTipoServicio}}
                - {{f.idTipoServicioDto.value.nombreTipo}}</div>
        </div>
    </ng-template>
    <ng-template let-item pTemplate="item">
        <div class="country-item">
            <div>{{item.idTipoServicio}}
                - {{item.nombreTipo}}</div>
        </div>
    </ng-template>
</p-dropdown>
-->
