<div class="flex justify-content-end mb-4">
    <button pbutton="" pripple="" label="Imprimir" icon="pi pi-print"
            (click)="imprimirDiv()"
            class="p-element p-ripple p-button-outlined p-button-primary p-button p-component"><span
        class="p-button-icon p-button-icon-left pi pi-print" aria-hidden="true"></span><span
        class="p-button-label">Print</span><span class="p-ink"></span></button>

    <button pbutton="" pripple="" label="Imprimir" icon="pi pi-print"
            (click)="imprSelec()"
            class="p-element p-ripple p-button-outlined p-button-primary p-button p-component"><span
        class="p-button-icon p-button-icon-left pi pi-print" aria-hidden="true"></span><span
        class="p-button-label">Print</span><span class="p-ink"></span></button>
</div>

<div id="divToPrint" class="card py-8 px-6 md:px-8 overflow-auto">
    <div
        class="flex flex-column align-items-start md:flex-row md:align-items-center md:justify-content-between border-bottom-1 surface-border pb-5 min-w-max">
        <div class="flex flex-column">
            <img src="../../../../../../assets/pages/logo-cluv-academy.png" width="30%">
            <div class="my-3 text-4xl font-bold text-900">CLUV ACADEMY</div>
            <span class="mb-2">La Rumiñahui</span><span>Quito 170102, E.C.</span></div>
        <div class="flex flex-column mt-5 md:mt-0">
            <div class="text-2xl font-semibold text-left md:text-right mb-3">FACTURA</div>
            <div class="flex flex-column">
                <div class="flex justify-content-between align-items-center mb-2"><span
                    class="font-semibold mr-6">FECHA</span><span>{{factura.fechaFactura | date:'dd-MM-YYYY'}}</span>
                </div>
                <div class="flex justify-content-between align-items-center mb-2"><span class="font-semibold mr-6">FACTURA #</span><span>{{numOrden}}</span>
                </div>
                <div class="flex justify-content-between align-items-center"><span
                    class="font-semibold mr-6">CLIENTE</span><span>{{factura.nombreFactura.toUpperCase()}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 mb-8 flex flex-column">
        <div class="mb-3 text-2xl font-medium">CLIENTE</div>
        <span class="mb-2">{{factura.nombreFactura}}
            , {{factura.direccionFactura}}</span><span>{{factura.telefonoFactura}}, {{factura.emailFactura}}</span>
    </div>
    <div class="overflow-x-auto">
        <table class="w-full" style="border-collapse: collapse; table-layout: auto;">
            <thead>
            <tr>
                <th class="text-left font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">Descripción
                </th>
                <th class="text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap px-3">
                    Cantidad
                </th>
                <th class="text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap px-3">Precio
                    Unitario
                </th>
                <th class="text-right font-semibold py-3 border-bottom-1 surface-border white-space-nowrap">Total
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-left py-3 border-bottom-1 surface-border white-space-nowrap">{{clase.nombreClase}}</td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">1</td>
                <td class="text-right py-3 border-bottom-1 surface-border px-3">$ {{factura.subtotalFactura}}</td>
                <td class="text-right py-3 border-bottom-1 surface-border">$ {{factura.subtotalFactura}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="flex flex-column md:flex-row md:align-items-start md:justify-content-between mt-8">
        <div class="font-semibold mb-3 md:mb-0">Detalle Pago</div>
        <div class="flex flex-column">
            <div class="flex justify-content-between align-items-center mb-2"><span
                class="font-semibold mr-6">SUBTOTAL</span><span>$ {{factura.subtotalFactura}}</span></div>
            <div class="flex justify-content-between align-items-center mb-2"><span
                class="font-semibold mr-6">IVA %</span><span>12</span></div>
            <div class="flex justify-content-between align-items-center mb-2"><span
                class="font-semibold mr-6">RECARGO</span><span>{{factura.recargoFactura}}</span></div>
            <div class="flex justify-content-between w-full align-items-center mb-2"><span
                class="font-semibold mr-6">DESCUENTO <i
                [class]="clase.descuentoClase !== factura.descuentoFactura ? 'pi pi-minus-circle text-red-500 mr-2' : 'pi pi-check-circle text-green-500 mr-2'"></i></span>
                <span>$ {{clase.descuentoClase}}</span>
            </div>
            <div class="flex justify-content-between align-items-center"><span
                class="font-semibold mr-6">TOTAL</span><span>$ {{factura.totalFactura}}</span></div>
        </div>
    </div>
</div>


