<div class="card"><span class="text-700 text-xl">Bienvenido a Clases!</span>
    <div class="text-900 font-bold text-4xl my-2">Clase registrada exitosamente 🚀</div>
    <p class="text-700 text-xl mt-0 mb-4 p-0">La clase se validará antes de
        ⌚ {{clase.fechaInicioClase | date :'short'}}.</p>
    <div
        style="height: 3px; background: linear-gradient(90deg, var(--primary-color) 0%, rgba(33, 150, 243, 0) 50%);"></div>
    <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between py-5">
        <div class="mb-3 sm:mb-0"><span class="font-medium text-xl text-900 mr-2">Número de Orden:</span><span
            class="font-medium text-xl text-blue-500">{{numOrden}}</span></div>
        <div>
            <button pbutton="" pripple="" label="Print" icon="pi pi-print"
                    (click)="irAOrdenPrint()"
                    class="p-element p-ripple p-button-outlined p-button-primary p-button p-component"><span
                class="p-button-icon p-button-icon-left pi pi-print" aria-hidden="true"></span><span
                class="p-button-label">Print</span><span class="p-ink"></span></button>
        </div>
    </div>
    <div class="border-round surface-border border-1">
        <ul class="list-none p-0 m-0">
            <li class="p-3 surface-border flex align-items-start sm:align-items-center border-bottom-1 ng-star-inserted">
                <img class="w-3rem sm:w-8rem flex-shrink-0 mr-3 shadow-2"
                     [src]="'data:image/png;base64,'+clase.avatarClase">
                <div class="flex flex-column"><span class="text-900 font-semibold text-xl mb-2">{{clase.nombreClase}}</span><span
                    class="text-700 font-medium mb-3">{{clase.zonaHorariaClase}} | {{clase.descripcionClase}}</span><span class="text-900 font-medium">{{clase.duracionClase}} hrs.</span>
                </div>
                <span class="text-900 font-medium text-lg ml-auto">{{clase.costoClase}} USD$</span></li><!---->
        </ul>
    </div>
    <div class="flex flex-wrap mt-5 pb-3">
        <div class="w-full lg:w-6 pl-3"><span class="font-medium text-900">Detalle Compra</span>
            <div class="flex flex-column text-900 mt-3 mb-5"><span class="mb-1">{{factura.nombreFactura}}</span><span class="mb-1">{{factura.direccionFactura}}</span><span>{{factura.telefonoFactura}}</span>
            </div>
            <span class="font-medium text-900">Tipo de Pago: {{pago.idTipoPagoDto.nombreTipoPago}}</span>
            <div class="flex align-items-center mt-3"><img
                [src]="'data:image/png;base64,'+pago.comprobantePago"
                class="w-4rem mr-3">
                <div class="flex flex-column"><span class="text-900 mb-1">{{numOrden}}</span><span
                    class="text-900 font-medium">{{factura.emailFactura}}</span></div>
            </div>
        </div>
        <div class="w-full lg:w-6 pl-3 lg:pl-0 lg:pr-3 flex align-items-end mt-5 lg:mt-0">
            <ul class="list-none p-0 m-0 w-full">
                <li class="mb-3"><span class="font-medium text-900"></span></li>
                <li class="flex justify-content-between mb-3"><span class="text-900">Subtotal</span><span
                    class="text-900 font-medium text-lg">{{factura.subtotalFactura}} USD$</span></li>
                <li class="flex justify-content-between mb-3"><span class="text-900">Descuento</span><span
                    class="text-900 font-medium text-lg">{{factura.descuentoFactura}} USD$</span></li>
                <li class="flex justify-content-between mb-3"><span class="text-900">Recargo</span><span
                    class="text-900 font-medium text-lg">{{factura.recargoFactura}} USD$</span></li>
                <li class="flex justify-content-between mb-3"><span class="text-900">Impuesto</span><span
                    class="text-900 font-medium text-lg">12% | {{factura.ivaFactura}} USD$</span></li>
                <li class="flex justify-content-between border-top-1 surface-border py-3"><span
                    class="text-900 font-medium">Total</span><span class="text-900 font-bold text-lg">{{factura.totalFactura}} USD$</span></li>
            </ul>
        </div>
    </div>
</div>
