<app-header></app-header>

<div class="login-body h-full register-image-tutor" #pnl>
    <div class="login-wrapper">
        <div class="login-panel w-12 md:w-6">

            <div class="mt-8"><h2>Conviértete en Profesor</h2>
            </div>
            <form [formGroup]="usuarioForm" (ngSubmit)="guardarEstudiante()" class="w-10 p-fluid p-formgrid grid">
                <div class="field col-12 md:col-12 md:mb-12 mb-0 px-3 ">
                    <span class="p-float-label ">
                        <input id="nombres" type="text" formControlName="nombres" pInputText/>
                        <label style="top:35%" for="nombres">Nombres Completos</label>
                    </span>
                </div>

                <div class="field col-12 md:col-12 md:mb-12 mb-0 px-3 ">
                    <span class="p-float-label ">
                        <input id="nombreUsuario" type="text" formControlName="nombreUsuario" pInputText/>
                        <label style="top:35%" for="nombreUsuario">Nombre Usuario</label>
                    </span>
                </div>

                <div class="field col-12 md:col-12 md:mb-12 mb-0 px-3 ">
                    <span class="p-float-label ">
                        <input id="direccion" type="text" formControlName="direccion" pInputText/>
                        <label style="top:35%" for="direccion">Dirección</label>
                    </span>
                </div>

                <div class="field col-12 md:col-12 md:mb-12 mb-0 px-3 ">
                    <span class="p-float-label ">
                        <input id="emailPersonal" type="text" formControlName="emailPersonal" pInputText/>
                        <label style="top:35%" for="emailPersonal">Correo electrónico</label>
                    </span>
                </div>

                <div class="p-field col-12 md:col-12 md:mb-12 mb-0 px-3">
                    <span class="p-float-label">
                        <p-password inputId="password" formControlName="clave" [toggleMask]="true"></p-password>
                        <label style="background-color: transparent" for="password">Contraseña</label>
                    </span>
                </div>
                <div class="p-field col-12 md:col-12 md:mb-12 mb-0 px-3">
                    <span class="p-float-label">
                        <p-password inputId="password1" [(ngModel)]="passwordVerificacion" [ngModelOptions]="{standalone: true}" [toggleMask]="true"></p-password>
                        <label style="background-color: transparent" for="password1">Verificar Contraseña</label>
                    </span>
                </div>


                <div class="p-field col-12 md:col-12 md:mb-2 mb-0 px-3 p-inputgroup form-group mt-3">
                    <div class="flex align-items-center justify-content-between">
                        <div class="flex align-items-center ml-2">
                            <p-checkbox id="rememberme1" [(ngModel)]="terminos" [binary]="true"
                                        [ngModelOptions]="{standalone: true}"></p-checkbox>
                            <label for="rememberme1" class="ml-2 text-900">He leído y acepto los términos y
                                condiciones.
                                <a (click)="verCondiciones()"
                                   class=" text-blue-500 text-right cursor-pointer">Ver
                                    Condiciones?</a>
                            </label>
                        </div>
                    </div>

                </div>

                <!-- ... (campos del formulario) ... -->
                <button [disabled]="!this.usuarioForm.valid || !terminos" pButton type="submit"
                        class="w-full text-center submit-button" label="REGISTRARSE">

                </button>
                <!-- ... (campos del formulario) ... -->
            </form>
            <span class="font-semibold text-color-secondary mt-6">¿ Ya tienes uan cuenta ? <a
                [routerLink]="'/authentication/login'"
                class="font-semibold cursor-pointer primary-color">Inisia Sesión</a></span>

            <p class="text-color-secondary font-semibold">¿ Algún problema ? <a href="#" class="primary-color">Click
                aquí</a> y permitanos ayudarle</p></div>

    </div>


</div>



