<div  class="card no-gutter widget-overview-box widget-overview-box-1">


    <div class=" flex align-items-left bg-primary-900">

        <div class="col-16 md:col-6">
            <div class="align-items-left flex  justify-content-end">
                <h4 class="text-left text-white"Zoom Meeting></h4>
            </div>
        </div>
    </div>
    <br>




        <!-- For Component View -->
        <div id="meetingSDKElement">
            <!-- Zoom Meeting SDK Component View Rendered Here -->
        </div>



        <button pButton label="Join Meeting" class="p-button p-button-lg m-1 p-button-info" icon="pi pi-send"
                type="submit" (click)="getMeetingSinga()" pTooltip="Join Meeting" tooltipPosition="right"></button>


</div>



